@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3F2FD;
}

.wrrapper{
    width: 65vmin;
    height: 70vmin;
    background-color: #293447;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.game-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B8c6DC;
    font-size: 1rem;
    padding: 20px 27px;
}

.play-board{
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food{
    background-color: #FF003D;
}

.play-board .snake{
    background-color: #60CBFF;
}

.controls{
    display: none;
    justify-content: space-between;
}

.controls i{
    color: #B8c6DC;
    text-align: center;
    padding: 25px 0;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171b26;
}

.alert{
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 1.1rem;
}

.alert.over{
    color: #FF003D;
}

.alert .btn{
    background-color: #60CBFF;
    color: #fff;
    padding: 6px 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
    font-weight: bold;
}

.alert .btn:hover{
    opacity: 0.8;
}

footer{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 0.90rem;
    background-color: #293447;
    color: #B8c6DC;
    padding: 15px 20px;
    border-radius: 10px;
}

footer a{
    color: #B8c6DC;
    text-decoration: none;
    position: relative;
}

footer a::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: #B8c6DC;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    transition: 0.5s;
}

footer a:hover::after{
    width: 100%;
}

@media screen and (max-width: 780px) {
    .wrrapper{
        width: 90vmin;
        height: 130vmin;
    }
    .game-details{
        padding: 15px 27px;
    }
    .controls{
        display: flex;
        align-items: center;
    }
    .controls i{
        padding: 15px 0;
    }
    .controls i{
        border-left: 1px solid #171b26;
    }
    .controls div{
        width: calc(100% / 2);
    }
    .controls div i{
        width: 100%;
        border: none;
        border-bottom: 1px solid #171b26;
    }
    .difficulty{
        position: absolute;
        top: 122px;
        left: 50%;
        transform: translateX(-50%);
        color: #000;
    }
}
